<div class="w-full h-[30rem] border-b-2 border-gray-400 dark:border-0 md:h-0 md:w-0"></div>
<section id="Proyects" class="w-full dark:bg-Gray4 pb-12">
  <div class="w-11/12 mx-auto">
    <p
      class="text-3xl text-black font-semibold drop-shadow-md pt-8 dark:text-whites"
      data-aos="fade-right"
      data-aos-offset="250"
      data-aos-easing="ease-in-sine"
    >
      MY PROJECTS
    </p>

    <div class="mt-12 grid grid-cols-1 gap-9 w-full place-items-center md:grid-cols-2 xl:grid-cols-3">

      <app-cards
      [img1]="'../../../assets/images/angularStore/Captura de pantalla_20230206_053158.png'"
      [img2]="'../../../assets/images/angularStore/Captura de pantalla_20230206_053239.png'"
      [img3]="'../../../assets/images/angularStore/Captura de pantalla_20230206_053225.png'"

      [tittle]="'Angular Store'"
      [description]="'Was create for a ECommerce page interactive with all information about the products, category´s, product detail and with interaction in all website !! Was implementing so that was: Responsive design'"

      [toolsHtml]="true"
      [toolsScss]="true"
      [toolsTypejs]="true"
      [toolsAngular]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/Angular-Store'"
      [urlPageGithub]="'https://63af13f06fc0c508ae1f5f60--idyllic-profiterole-21cd83.netlify.app/home'"
      ></app-cards>

      <app-cards
      [img1]="'../../../assets/images/portfolio/Captura de pantalla_20230219_034005.png'"
      [img2]="'../../../assets/images/portfolio/Captura de pantalla_20230219_034025.png'"
      [img3]="'../../../assets/images/portfolio/Captura de pantalla_20230219_034114.png'"

      [tittle]="'Portfolio'"
      [description]="'Was create for show my skills, projects and for show a little bit about me It´s a page with interaction in all website !! Was implementing so that was: Responsive design and Dark Mode'"

      [toolsHtml]="true"
      [toolsTailwind]="true"
      [toolsTypejs]="true"
      [toolsAngular]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/portfolio'"
      [urlPageGithub]="'https://mateogonzalezamortegui.github.io/portfolio/'"
      ></app-cards>

      <app-cards
      [img1]="'../../../assets/images/travelPage/Captura de pantalla_20230203_083221.png'"
      [img2]="'../../../assets/images/travelPage/Captura de pantalla_20230203_090754.png'"
      [img3]="'../../../assets/images/travelPage/Captura de pantalla_20230203_091946.png'"

      [tittle]="'Travel Page'"
      [description]="'Was create for be a web page interactive with all information about the countries or place for visit!! Was implementing so that was: Responsive design and Dark Mode'"

      [toolsHtml]="true"
      [toolsTailwind]="true"
      [toolsJs]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/Travel-page'"
      [urlPageGithub]="'https://mateogonzalezamortegui.github.io/Travel-page/index.html'"
      ></app-cards>

      <app-cards
      [img1]="'../../../assets/images/Todo/Captura de pantalla_20230206_015320.png'"
      [img2]="'../../../assets/images/Todo/Captura de pantalla_20230206_015310.png'"
      [img3]="'../../../assets/images/Todo/Captura de pantalla_20230206_015229.png'"

      [tittle]="'To-Do App'"
      [description]="'Was create for to-do list page interactive with all information about the tasks for do, completed tasks and edit of tasks with interaction in all website !! Was implementing so that was: Responsive design'"

      [toolsHtml]="true"
      [toolsCss]="true"
      [toolsJs]="true"
      [toolsReact]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/ToDo-ReactApp'"
      [urlPageGithub]="'https://mateogonzalezamortegui.github.io/ToDo-ReactApp/'"
      ></app-cards>

      <app-cards
      [img1]="'../../../assets/images/LandingPage/Captura de pantalla_20230206_041542.png'"
      [img2]="'../../../assets/images/LandingPage/Captura de pantalla_20230206_041536.png'"
      [img3]="'../../../assets/images/LandingPage/Captura de pantalla_20230206_041520.png'"

      [tittle]="'Landing Page'"
      [description]="'This project was a Challenge of Frontend Mentor in which was try to develop a landing page according to size of the screen and have a interaction on web page!! Was implementing so that was: Responsive design and Dark Mode'"

      [toolsHtml]="true"
      [toolsScss]="true"
      [toolsJs]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/Landing-Page'"
      [urlPageGithub]="'https://mateogonzalezamortegui.github.io/Landing-Page/'"
      ></app-cards>

      <app-cards
      [img1]="'../../../assets/images/Myblog/Captura de pantalla_20230206_042420.png'"
      [img2]="'../../../assets/images/Myblog/Captura de pantalla_20230206_042330.png'"
      [img3]="'../../../assets/images/Myblog/Captura de pantalla_20230206_042226.png'"

      [tittle]="'My Blog'"
      [description]="'Was create for be a web page with all information was as a blog real about me and my projects that I´ve done!! Was implementing so that was: Responsive design'"

      [toolsHtml]="true"
      [toolsScss]="true"

      [github]="'https://github.com/MateoGonzalezAmortegui/My-blog'"
      [urlPageGithub]="'https://mateogonzalezamortegui.github.io/My-blog/index.html'"
      ></app-cards>

    </div>
  </div>
</section>
